<ion-tabs>
  <ion-tab-bar *ngIf="!(isDesktop$ | async)" color="primary">
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>