<app-header title="Mis favoritos"></app-header>
<ion-content>
  <ion-split-pane>
    <ion-menu side="start">
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/search" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="search-outline"></ion-icon>
              <ion-label>Buscar productos</ion-label>
            </ion-item>
            <ion-item routerLink="/favorites" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="heart-outline"></ion-icon>
              <ion-label>Ver tus favoritos</ion-label>
            </ion-item>
            <ion-item routerLink="/new" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>Crear nuevo producto</ion-label>
            </ion-item>
            <ion-item routerLink="/messages" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
              <ion-label>Ver tus mensajes</ion-label>
            </ion-item>
            <ion-item routerLink="/account" routerDirection="root" routerLinkActive="selected">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Ver tu cuenta</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-content>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let product of visibleProductList" size="6" size-md="4" size-lg="2" class="ion-no-padding">
              <app-product-card [title]="product.title" [imageURL]="product.images?.[0]"></app-product-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ion-split-pane>
</ion-content>