.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.error-header {
  background: var(--ion-color-danger);
  color: #fff;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 20px;
}

.error-code {
  font-size: 5rem;
  color: var(--ion-color-danger);
  margin: 20px 0 10px;
}

.error-message {
  font-size: 1.2rem;
  color: var(--ion-color-medium);
  margin-bottom: 20px;
}
