ion-content {
  --background: #fff;

  ion-item {
    --highlight-color-focused: #ff4d4d; /* rojo fuerte */
    --highlight-color-hover: #ff6666; /* rojo claro */
    margin-bottom: 15px;
  }

  ion-label {
    color: #ff0000; 
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }

  ion-button {
    --background: #ff0000;
    --color: #fff;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
}
