table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  border: 1px solid #ddd;
  display: table-cell;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}