<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <p class="title">Trueque</p>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <div class="sign-up-header">
          <p class="body">Ya tienes una cuenta?</p>
          <a class="body" href="./login">Inicia sesión!</a>
        </div>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
          <div class="sign-up-forms">
            <app-input label="RUT" placeholder=""></app-input>
            <app-input label="Correo electrónico" placeholder=""></app-input>
            <app-input label="Nombre de usuario" placeholder=""></app-input>
            <app-input label="Contraseña" placeholder=""></app-input>
            <app-input label="Confirmación de contraseña" placeholder=""></app-input>
            <app-input label="Región" placeholder=""></app-input>
            <app-input label="Comuna" placeholder=""></app-input>
            <ion-checkbox labelPlacement="end">He leido y acepto terminos y condiciones.</ion-checkbox>
          <ion-button>Registrarse</ion-button>
        </div> 
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>