.search-bar-container {
    border-bottom: 1.5px solid var(--ion-color-secondary);
    position: fixed;
    top: 68px;
    width: 100%;
    align-self: center;
    padding: 5px;
    z-index: 10;
    background-color: white;
}

.results-container {
    overflow-y: auto;
    padding-top: 58px;
}