<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <p class="title">Trueque</p>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <div class="sign-in-forms">
          <p class="sub-title">Bienvenido</p>
          <app-input label="Correo electrónico" placeholder=""></app-input>
          <app-input label="Contraseña" placeholder=""></app-input>
          <ion-button>Iniciar sesión</ion-button>
        </div> 
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <p class="body">No tienes cuenta? 
          <a class="body" href="./signup">Regístrate!</a>
        </p>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
