ion-content {
  --background: var(--ion-color-primary);
}

.sign-in-forms {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  max-width: 500px;
  min-width: 250px;
  width: 50%;  
  height: auto;
  gap: 5vh;
  padding:4vh;
  overflow: hidden; 
}

.submit-button {
  width:40%;
  text-transform: none;
  color: white;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.title {
  color: white;
  font-size: 4rem;
  font-family: Libre Baskerville;
  margin-top:4vh;
  margin-bottom: 10vh;
}

.sub-title {
  color: #8A858E;
  font-size: 2rem;
  font-family: Libre Baskerville;
  margin: 0;
  text-align: center;
}

.body {
  color: white;
  font-size: 0.9rem;
}

ion-input {
  --highlight-color-valid: var(--ion-color-primary);
}