<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <p class="title">Trueque</p>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <div class="sign-in-forms">
          <p class="sub-title">Bienvenido</p>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-input
              label="Correo electrónico"
              type="email"
              labelPlacement="stacked"
              errorText="Introduzca una dirección de correo electrónico válida"
              name="email"
              ngModel
              required
              email>
            </ion-input>
            <ion-input
              label="Contraseña"
              type="password"
              labelPlacement="stacked"
              errorText="Mínimo 8 caracteres, con al menos una mayúscula, una minúscula y un número"
              name="password"
              ngModel
              required
              appPasswordValidator>
            </ion-input>
            <ion-button type="submit">Iniciar sesión</ion-button>
          </form>
        </div>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <p class="body">No tienes cuenta? 
          <a class="body" routerLink="/signup">Regístrate!</a>
        </p>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
