<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/messages"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="thread-title">
        <img *ngIf="thread?.avatar" [src]="thread?.avatar" />
        <span>{{ thread?.title }}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messages-list">
    <ng-container *ngIf="messages$ | async as messages">
      <ng-container *ngFor="let m of messages; trackBy: trackById">
        <app-message-buble [message]="m" [currentUserId]="currentUserId"></app-message-buble>
      </ng-container>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <app-chat-input (send)="onSend($event)"></app-chat-input>
</ion-footer>
